.thread-aside {
	width: 180px;
	margin-left: 60px;
}

.thread-aside .inner {
	position: fixed;
	width: 180px;
	height: 200px;
}

.thread-aside .button {
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
	height: auto;
	padding-top: 7px;
	padding-bottom: 7px;

	i {
		vertical-align: -2px;
	}
}

.thread-aside .button.is-primary {
	margin-bottom: 35px;
}

// The original idea for the scrubber comes
// from Flarum.
.scrubber {
	font-size: 14px;
	margin-top: 40px;
	color: $grey;

	cursor: default;
	user-select: none;
}

.scrubber .area {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 6px;
	border-left: 1px solid #ddd;
	height: 190px;
}

.scrubber .current {
	left: -3px;
	position: relative;
	padding-left: 20px;

	cursor: ns-resize;

	&:before {
		content: '';

		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 5px;
		
		background: $primary;
		border-radius: 3px;
	}

	strong, time {
		display: block;
	}

	time {
		color: $grey;
	}
}